body {

    background-color: #f5f5dd;


}

div {
    margin-left: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.jeden {
    background-color: black;
}
.dwa {
    background-color: rgba(31, 27, 27, 0.836);
}
.trzy {
    background-color: rgba(0, 0, 0, 0.349);
}

.cztery {
    background-color: rgba(0, 0, 0, 0.178);
}